form.form-signin(ng-submit="login()")
  input.form-control(type="text", placeholder="Email address", required, autofocus, ng-model="user.username")
  input.form-control(type="password", placeholder="Password", required, ng-model="user.password")
  button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign In
