extends layout

block content
  header
    nav.navbar.navbar-default(ng-controller="NavCtrl")
      div.container
        div.navbar-header
          a.navbar-brand(href='#/') HOLY CHAT
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#/')
              i.fa.fa-home  Home
          li
            a(href='#/login') Log In
          li
            form(ng-submit="logout()")
              button.btn(type="submit") Log Out

  div.container
    div(ng-view)
